<div class="container jumbotron">
    <p> Contact App Main Page </p>
</div>

<div class="container">
    <p>This simple app will allow me to learn how to do some web features such as the following:</p>
    <ul>
        <li>Twitter Bootstrap [Jumbotron is part of the twitter bootstrap library</li>
        <li>Learn how to use cookies to save page information</li>
        <li>Login/Logout Page</li>
        <li class="done">Implemented this app with Node.js and Express. The template engine is Handlebars.js</li>
    </ul>
</div>
<div class="container login-help">
    <p>Click the button below to login to the app</p><br />
    <div class="launch">
        <p>Email/Password : <span class="demouserpass">demo@example.com / demo </span> ----></p>
        <a href="#" class="button" id="launchapp">ENTER APP</a>
    </div>
</div>