<style rel="stylesheet" href="/stylesheets/register.css" />
<script type="application/javascript" src="/javascripts/register.js"></script>

<h1 class="register-title">Welcome to Contacts</h1>
<form class="register" action="profile" method="post">
    <input type="text" class="register-input" placeholder="Username" id="username">
    <input type="email" class="register-input" placeholder="Email Address" id="email">
    <input type="password" class="register-input" placeholder="Password" id="password">
    <input type="submit" value="Create Account" class="register-button"
           id="formCheck">
</form>