body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  background: #2d4259;
  width: 100%;
}

.jumbotron {
  background-color: lightblue;
  text-align: center;
  text-shadow: 2px 2px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 2em;
}

li.done:after {
  margin-bottom: 20px;
}

li.done:before {
  content: '✔';
  margin-left: -1em;
  margin-right: .100em;
}

div.login-help {
  margin-top: 50px;
}

div.launch {
  display: inline-block;
}

div.launch p {
  float: left;
  margin-left: 100px;
  margin-right: 50px;
}

span.demouserpass {
  font-weight: 100;
  text-transform: uppercase;
}

div.launch a.button {
  float: right;
  margin-top: -5px;
  margin-right: 50px;
  text-decoration: none;

}

a.button:not {
  padding: 5px;
  margin-right: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
  0px 1px 0px 0px rgba(250, 250, 250, 0.5) ;
}

a.button {
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: #64c8ef; /* Old browsers */
  background: -moz-linear-gradient(top,  #64c8ef 0%, #00a2e2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#64c8ef), color-stop(100%,#00a2e2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #64c8ef 0%,#00a2e2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c8ef', endColorstr='#00a2e2',GradientType=0 ); /* IE6-9 */
  color: #fff;
  padding: 5px 15px;
  margin-right: 0;
  margin-top: 15px;
  border-radius: 3px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}